<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables -->
	<variable name="logDir" value="${basedir}/logs" />

	<targets async="true">
		<!-- File target: log to bin/Debug/logs -->
		<target xsi:type="File" name="logfile" fileName="${logDir}/${shortdate}.log"
				layout="${longdate} ${level} ${message} ${exception}" />

		<!-- Console target: log to the console -->
		<target xsi:type="Console" name="logconsole"
				layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<rules>
		<!-- Log all messages with level Trace and higher -->
		<logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
	</rules>
</nlog>
